<section class="unauthorised-wrapper">
  <div class="heading-group" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
    <span fxFlex></span>
    <h1 class="heading">
      OOPS!
    </h1>
    <span fxFlex></span>
  </div>

  <div class="text-content tc-content" style="text-align: center; padding: 0 8%;">
    <div class="section-content">
      Authentication failed. Your token has expired or is no longer valid.
    </div>

    <br>
    <br>

    <!-- <a mat-flat-button class="main-button-transparent home-btn" [href]="'https://www.google.co.za'">HOME PAGE</a> -->
  </div>
</section>