@import '/src/assets/styles/variables';

.section-content {
  font: {
    size: 14px;
    weight: 500;
  }
}

.home-btn {
  font-size: 16px !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
