$accent-color-navy: #114B8A;
$accent-color-teal: #1EBEAA;
$accent-color-purple: #C6007E;
$accent-color-dark-purple: #820082;
$accent-color-lightblue: #96DFFB;
$primary-color-charcoal: #292B2C;
$text-grey: #474747;
$text-white: #FFFFFF;